@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Accent #d8b4fe */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.logo{
    padding-top: 1.5rem;
    font-size: 2rem;
}

.icons{
    width: 50px;
    padding-right: 25px;
}

.nav-items{
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
    padding-top: 1rem;
}

.nav-items:nth-child(7){
    padding-top: 3.5rem;
}

.sidebar{
    background: #fca5a5;
    padding: 0 6rem 0 3rem;
    height: 100vh;
    width: 18%;
}

.nav-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation{
    padding-top: 3rem;
}

.container{
    display: flex;
}

.body-container{
    width: calc(100vw - 18%);
}

.header{
    box-shadow: 0px 5px 5px #fca5a5;
    padding-top: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.5rem;
    width: 100%;
    z-index: 9999;
}

.search{
    height: 2rem;
    background: #fee2e2;
    width: 700px;
    border-radius: 1.5rem;
}

.top{
    display: flex;
    justify-content: space-between;
}

.t-left{
    display: flex;
    align-items: center;
}


.top-pic{
    width: 75px;
    padding-right: 25px;
}

.top-name{
    font-size: 1.25rem;
    font-weight: 600;
}

.bottom{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 0 0;
}

.greeting{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25px;
}

.b-small{
    font-size: 0.9rem;
    font-weight: 600;
}

.b-large{
    font-size: 1.5rem;
    font-weight: 600;
}

.btn{
    display: inline;
    text-decoration: none;
    margin-left: 30px;
    font-size: 1.25rem;
    color: black;
    font-weight: 600;
    background: #fca5a5;
    padding: 12px 35px;
    border-radius: 1.5rem;
}

.b-limg{
    width: 75px;
}

.content-container{
    margin-top: 5px;
    width: 100%;
    padding: 2rem 3rem 0 3rem;
    background: #fee2e2;
}

